.cheat-enemy {
  width: 100%;
  background: linear-gradient(180deg, #0d1013 0%, #282b2e 100%);
}
.cheat-enemy__wrapper {
  padding-top: 150px;
  padding-bottom: 170px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .cheat-enemy__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .cheat-enemy__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.cheat-enemy__bg {
  background: url(../images/bg-cheat-page.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 100px;
}
.cheat-enemy__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .cheat-enemy__top {
    flex-direction: column;
    gap: 30px;
  }
}
.cheat-enemy__back {
  width: 315px;
  height: 70px;
  border-radius: 200px;
  background: #ffffff0d;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.23px;
  color: #ffffff4d;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.cheat-enemy__back img {
  width: 30px;
  height: 30px;
}
.cheat-enemy__inner {
  width: 100%;
  height: 710px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 38px;
}
@media screen and (max-width: 1023px) {
  .cheat-enemy__inner {
    display: none;
  }
}
.mob-swiper {
  display: none !important;
}
/* @media screen and (max-width: 1200px) {
  .cheat-enemy__inner {
    display: none;
  }
} */

.cheat-enemy__left {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: #fff;
}
.cheat-enemy__left-image {
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0 0;
}
.cheat-enemy__left-items {
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  border-radius: 0 0 30px 30px;
  background: #fff;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  overflow: hidden;
}
.cheat-enemy__scroll {
  display: flex;
  align-items: center;
  gap: 19px;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cheat-enemy__left-image-mini {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  cursor: pointer;
}
.cheat-enemy__centr {
  width: 33.33%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: #fff;
  padding-bottom: 30px;
  box-sizing: border-box;
  position: relative;
}
.cheat-enemy__centr-tabs {
  width: 100%;
  height: 108px;
  display: flex;
  border-bottom: 2px solid #0075ff;
}
.cheat-enemy__centr-tab {
  width: 50%;
  border-radius: 30px 30px 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.23px;
  color: #00000099;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .cheat-enemy__centr-tab {
    font-size: 20px;
    line-height: 25px;
  }
}
.cheat-enemy__centr-tab.active {
  cursor: default;
  color: #000;
}
.cheat-enemy__centr-page {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 25px 25px 35px 25px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 0 0 30px 30px;
  height: fit-content;
  overflow: auto;
  scrollbar-width: none;
}

.cheat-enemy__centr-page.active {
  display: flex;
}
.page-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.page-item-top {
  width: 100%;
  height: 65px;
  border-radius: 10px;
  background: #0075ff;
  padding-left: 30px;
  padding-right: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-item span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.23px;
  color: #fff;
  text-transform: uppercase;
}
.page-item span img {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 1340px) {
  .page-item span {
    font-size: 20px;
    line-height: 21px;
  }
}
@media screen and (max-width: 1200px) {
  .page-item span {
    font-size: 18px;
    line-height: 19px;
  }
}
.arrow-img {
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}
.arrow-img.active {
  transform: rotate(90deg);
}
.cheat-enemy__right {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 30px;
}
.cheat-enemy__right-top {
  width: 100%;
  height: 108px !important;
  border-bottom: 2px solid #0075ff;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.72px;
  background: linear-gradient(
    90deg,
    #034b9f 0%,
    #2284f9 36.5%,
    #2284f9 63%,
    #034b9f 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 0 0;
}
@media screen and (max-width: 1200px) {
  .cheat-enemy__right-top {
    font-size: 30px;
    line-height: 38.72px;
  }
}
.cheat-enemy__bottom {
  width: 100%;
  height: 108px;
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 10px 10px 32px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .cheat-enemy__bottom {
    padding: 20px;
  }
}
.cheat-enemy__right-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
}
.cheat-enemy__right-form label {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.23px;
  color: #034b9f;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.form-page-check__wrapp {
  width: 100%;
  height: 266px;
  border-radius: 14px;
  background: #0075ff;
  padding: 23px;
  box-sizing: border-box;
}
.form-page-check {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}
.form-page-check:last-child {
  margin-bottom: 0;
}
.form-check-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}
.form-check-day p {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 58.46px;
  color: #fff;
}
@media screen and (max-width: 1340px) {
  .form-check-day p {
    font-size: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .form-check-day p {
    font-size: 27px;
    left: 30px;
  }
}
.form-page-amount {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.72px;
  color: #0075ff;
  margin-top: 25px;
}
.form-page-amount span {
  font-size: 36px;
  line-height: 43.85px;
}
@media screen and (max-width: 1200px) {
  .form-page-amount {
    font-size: 32px;
    line-height: 38.72px;
  }
  .form-page-amount span {
    font-size: 26px;
    line-height: 30.85px;
  }
}
.no-link.active {
  cursor: pointer;
}
.form-check-coin {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.23px;
  color: #fff;
  text-transform: capitalize;
}
.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  margin-right: 13px;
}
.form-check img {
  width: 12px;
  height: 12px;
  display: none;
}
.form-check.active.form-check img {
  display: block;
}
.form-check {
  position: relative;
}

.form-button {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  background: #0075ff;
  margin-top: auto;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.23px;
  color: #fff;
  text-transform: uppercase;
  pointer-events: none;
  opacity: 0.5;
}
.form-button.active {
  pointer-events: auto;
  opacity: 1;
}
.form-button img {
  width: 30px;
  height: 30px;
}
.buy {
  margin-left: auto;
  margin-top: 5px;
}
.form-page__btn {
  max-width: 308px;
  width: 100%;
  height: 51px;
  border-radius: 14px;
  background: #0075ff;
  margin: 26px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.98px;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .form-page__btn {
    font-size: 22px;
    line-height: 30px;
  }
}

.cheat-enemy__agreement {
  display: flex;
  gap: 10px;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.36px;
  color: #034b9f;
}
@media screen and (max-width: 1200px) {
  .cheat-enemy__agreement {
    gap: 5px;
  }
}
.cheat-enemy__agreement span {
  width: 21px;
  height: 21px;
  border-radius: 8px;
  border: 1px solid #034b9f;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
@media screen and (max-width: 1200px) {
  .cheat-enemy__agreement {
    font-size: 17px;
    line-height: 20px;
  }
  .cheat-enemy__agreement span {
    width: 17px;
    height: 17px;
    border-radius: 5px;
  }
}
.cheat-enemy__agreement span.active {
  background: #0075ff;
}
.cheat-enemy__agreement span img {
  width: 10px;
  height: 10px;
}
.cheat-enemy__help {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.36px;
  color: #034b9f;
}
.cheat-enemy__help span {
  width: 21px;
  height: 21px;
  border-radius: 8px;
  border: 1px solid #034b9f;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
@media screen and (max-width: 1200px) {
  .cheat-enemy__help {
    font-size: 17px;
    line-height: 20px;
  }
  .cheat-enemy__help span {
    width: 17px;
    height: 17px;
    border-radius: 5px;
  }
}
.cheat-enemy__help img {
  width: auto;
  height: auto;
}

.page-item-inner {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  background: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 10;
  border: 1px solid #0075ff;
  height: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.page-item-inner.active {
  visibility: visible;
  height: fit-content;
  padding: 20px;
}
.page-item-inner p {
  color: transparent;
}
.page-item-inner.active p {
  color: #000;
}
/*---
/*---pay-mobile---*/
.pay-mobile {
  display: none;
}
@media screen and (max-width: 1023px) {
  .pay-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
    max-width: 341px;
    width: 100%;
  }
  .pay-mobile__img-main {
    width: 100%;
    height: 192px;
    border-radius: 14px;
    background: linear-gradient(
      180.14deg,
      #ebebeb 15.8%,
      #013776 129.51%,
      #052346 142.64%
    );
  }
  .pay-mobile__img-wrapp {
    width: 341px;
    overflow: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 25px;
  }
  .pay-mobile__img-mini {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 14px;
    background: linear-gradient(
      180.14deg,
      #ebebeb 15.8%,
      #013776 129.51%,
      #052346 142.64%
    );
  }
  .pay-mobile__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      180.14deg,
      #ebebeb 15.8%,
      #013776 129.51%,
      #052346 142.64%
    );
    border-radius: 14px;
    margin-top: 30px;
  }
  .pay-mobile__inner-top {
    width: 100%;
    height: 54px;
    border-radius: 14px 14px 0 0;
    font-family: "Proxima Nova Condensed", sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 45.07px;
    background: linear-gradient(
      90deg,
      #034b9f 0%,
      #2284f9 28%,
      #2183f9 56.5%,
      #2284f9 80.57%,
      #034b9f 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #0075ff;
  }
  .pay-mobile__form {
    display: flex;
    flex-direction: column;
    padding: 8px 11px 16px 11px;
    box-sizing: border-box;
    border-bottom: 1px solid #0075ff;
  }
  .pay-mobile__inner-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
  }
  .pay-mobile__btn {
    width: 97px;
    height: 50px;
    border-radius: 14px;
    background: #0075ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Proxima Nova Condensed", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20.71px;
    color: #fff;
  }
  .pay-mobile__bottom {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 18px 11px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #0075ff;
  }
  .pay-mobile__agreement {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: "Proxima Nova Condensed", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.49px;
    color: #034b9f;
  }
  .pay-mobile__agreement span {
    width: 26.64px;
    height: 26.64px;
    border-radius: 8px;
    border: 1px solid #034b9f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pay-mobile__agreement span img {
    width: 10px;
    height: 10px;
  }
  .pay-mobile__chat {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: "Proxima Nova Condensed", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.49px;
    color: #034b9f;
    text-transform: uppercase;
    margin: 0 auto;
  }
  .pay-mobile__item-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 14px 11px 60px 11px;
    box-sizing: border-box;
  }
  .pay-mobile__tabs {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .pay-mobile__tab {
    width: 156px;
    height: 50px;
    border-radius: 14px;
    background: #0075ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Proxima Nova Condensed", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  .pay-mobile__tabs-pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 18px;
  }
  .pay-mobile__page {
    width: 100%;
    height: 59.74px;
    border-radius: 13px;
    background: linear-gradient(0deg, #0075ff, #0075ff),
      linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 117, 255, 0) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-family: "Proxima Nova Condensed", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.23px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 27px;
    padding-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 11;
  }
  .pay-mobile__page-item {
    display: flex;
    flex-direction: column;
  }
  .pay-mobile__page-inner {
    font-family: "Proxima Nova Condensed", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    background: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    z-index: 10;
    border: 1px solid #0075ff;
    height: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    margin-top: -10px;
  }
  .pay-mobile__page-inner.active {
    visibility: visible;
    height: fit-content;
    padding: 20px;
  }
}
